<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE fcpxml>
<fcpxml version="1.10">
    <resources>
        <format id="r0" name="{{ fmt_name }}" frameDuration="{{ frame_duration }}" width="{{ width }}" height="{{ height }}" colorSpace="1-1-1 (Rec. 709)"/>
{% for a in video_assets %}
        <asset id="{{ a.id }}" name="{{ a.name }}" uid="{{ a.uid }}" start="0s" duration="{{ a.duration }}" hasVideo="1" format="r0" videoSources="1">
            <media-rep kind="original-media" src="{{ a.src }}"/>
        </asset>
{% endfor %}
        <asset id="{{ audio.id }}" name="{{ audio.name }}" uid="{{ audio.uid }}" start="0s" duration="{{ audio.duration }}" hasAudio="1" audioSources="1" audioChannels="2" audioRate="{{ audio.rate }}">
            <media-rep kind="original-media" src="{{ audio.src }}"/>
        </asset>
{% if pin %}
        <format id="{{ pin.format_id }}" name="FFVideoFormat1080p24" frameDuration="100/2400s" width="1920" height="1080" colorSpace="1-1-1 (Rec. 709)"/>
        <asset id="{{ pin.asset_id }}" name="location-pin" uid="location-pin-red" start="0s" duration="54833/1000s" hasVideo="1" format="{{ pin.format_id }}" videoSources="1">
            <media-rep kind="original-media" src="{{ pin.src }}"/>
        </asset>
        {{ pin.effect | safe }}
{% endif %}
    </resources>
    <library>
        <event name="{{ event_name }}">
            <project name="{{ project_name }}">
                <sequence format="r0" duration="{{ sequence_duration }}" tcStart="0s" tcFormat="NDF" audioLayout="stereo" audioRate="48k">
                    <spine>
{% for c in cuts %}
                        <asset-clip ref="{{ c.ref }}" offset="{{ c.offset }}" name="{{ c.name }}" start="{{ c.start }}" duration="{{ c.duration }}" format="r0" tcFormat="NDF">
{% if c.timemap %}
                            <timeMap>
{% for p in c.timemap %}
                                <timept time="{{ p.time }}" value="{{ p.value }}" interp="linear"/>
{% endfor %}
                            </timeMap>
{% endif %}
{% if c.fade %}
                            <adjust-blend amount="1">
                                <param name="amount">
                                    <keyframeAnimation>
                                        <keyframe time="{{ c.fade.from }}" value="1"/>
                                        <keyframe time="{{ c.fade.to }}" value="0"/>
                                    </keyframeAnimation>
                                </param>
                            </adjust-blend>
{% endif %}
{% if loop.first %}
{% for m in music_clips %}
                            <asset-clip ref="{{ m.id }}" lane="{{ m.lane }}" offset="{{ m.offset }}" name="{{ m.name }}" start="{{ m.start }}" duration="{{ m.duration }}" audioRole="music">
{% if m.volume %}
                                <adjust-volume amount="0dB">
                                    <param name="amount">
                                        <keyframeAnimation>
{% for k in m.volume %}
                                            <keyframe time="{{ k.time }}" value="{{ k.value }}"/>
{% endfor %}
                                        </keyframeAnimation>
                                    </param>
                                </adjust-volume>
{% endif %}
                            </asset-clip>
{% endfor %}
{% if pin %}
                            {{ pin.clip | safe }}
{% endif %}
{% endif %}
                        </asset-clip>
{% endfor %}
                    </spine>
                </sequence>
            </project>
        </event>
    </library>
</fcpxml>
