<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE fcpxml>
<fcpxml version="1.10">
    <resources>
        <format id="r0" name="{{ fmt_name }}" frameDuration="{{ frame_duration }}" width="{{ width }}" height="{{ height }}" colorSpace="1-1-1 (Rec. 709)"/>
{% for a in video_assets %}
        <asset id="{{ a.id }}" name="{{ a.name }}" uid="{{ a.uid }}" start="0s" duration="{{ a.duration }}" hasVideo="1" format="r0" videoSources="1">
            <media-rep kind="original-media" src="{{ a.src }}"/>
        </asset>
{% endfor %}
        <asset id="{{ audio.id }}" name="{{ audio.name }}" uid="{{ audio.uid }}" start="0s" duration="{{ audio.duration }}" hasAudio="1" audioSources="1" audioChannels="2" audioRate="{{ audio.rate }}">
            <media-rep kind="original-media" src="{{ audio.src }}"/>
        </asset>
    </resources>
    <library>
        <event name="{{ event_name }}">
            <project name="{{ project_name }}">
                <sequence format="r0" duration="{{ sequence_duration }}" tcStart="0s" tcFormat="NDF" audioLayout="stereo" audioRate="48k">
                    <spine>
{% for c in cuts %}
                        <asset-clip ref="{{ c.ref }}" offset="{{ c.offset }}" name="{{ c.name }}" start="{{ c.start }}" duration="{{ c.duration }}" format="r0" tcFormat="NDF">
{% if c.timemap %}
                            <timeMap>
{% for p in c.timemap %}
                                <timept time="{{ p.time }}" value="{{ p.value }}" interp="linear"/>
{% endfor %}
                            </timeMap>
{% endif %}
{% if loop.first %}
                            <asset-clip ref="{{ audio.id }}" lane="-1" offset="{{ c.start }}" name="{{ audio.name }}" start="0s" duration="{{ audio.duration }}" audioRole="music">
{% if audio.fade_from %}
                                <adjust-volume amount="0dB">
                                    <param name="amount">
                                        <keyframeAnimation>
                                            <keyframe time="{{ audio.fade_from }}" value="0dB"/>
                                            <keyframe time="{{ audio.fade_to }}" value="-96dB"/>
                                        </keyframeAnimation>
                                    </param>
                                </adjust-volume>
{% endif %}
                            </asset-clip>
{% endif %}
                        </asset-clip>
{% endfor %}
                    </spine>
                </sequence>
            </project>
        </event>
    </library>
</fcpxml>
